/*
 * These are the styles for the games.
*/

body {
  background-color: #9999f3;
}


/*Title*/
#title {
  margin: 1rem 0 1.7rem 0;
  color: #555;
  transition: color .3s ease;
  font-weight: lighter;
  font-size: 3rem;
}

#title:hover {
  color: #888;
}

/* 
#score-title {
  font-size: 1.5rem;
  color: #555;
}

#score {
  font-size: 1.2rem;
  color: #555;
  margin: 1rem auto;

} */

/*Cards*/
.view-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4.6rem;
  column-gap: 1%;
}

/* Card */
.view-cards .card {
  /* background-color: #5a5a5a; this is a test with this background*/
  border: 1px #333 solid;
  padding: 1rem 0.5rem;
  background-color: #7177ec;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23b6dfe6' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  color: #ffffff;
  transition: box-shadow .3s ease;
  border-radius: .5rem;
  border: 1px black solid;
  width: 30%;
  height: 80%;
  margin: 0 auto;
}

.view-cards .card:hover {
  box-shadow: .5rem .5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: #4a4a4a;
}

/*Image*/
.view-cards img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.view-cards .present-image {
  padding: 0;
}

/* Actions */
.actions-view {
  display: flex;
  width: 100%;
  margin: 2rem 0;
}

.actions-view a {
  border: 1px #666 solid;
  border-radius: 1.5rem;
  padding: .8rem;
  background-color: #62cfcf;
  width: 20%;
  text-decoration: none;
  color: #666;
  margin: 1.5rem 3.5rem;
  font-size: 1.3rem;
  transition: background-color .3s ease;
  transition: box-shadow .3s ease;
}

.actions-view a:hover {
  background-color: #64a6cc;
  box-shadow: .3rem .3rem rgba(0, 0, 0, 0.3);
}

.good {
  border: 1px #333 solid;
  padding: 1rem 0.5rem;
  background-color: #63f16a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23b6dfe6' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  color: #ffffff;
  transition: box-shadow .3s ease;
  border-radius: .5rem;
  border: 1px black solid;
  width: 30%;
  height: 80%;
  margin: 0 auto;
}


@media(max-width: 700px) {
  /* Container 700 */
  .container {
    width: 86%;
  }

  .actions-view a {
    width: 100%;
    margin: 1rem 2rem;
  }
}

@media(max-width: 500px) {

  #tile {
    margin: 1rem 1rem 1.7rem 0;

  }

  #score {
    float: none; /* for not float in these display */
  }

  .view-cards {
    grid-template-columns: repeat(2, 1fr);

  }

  /* Card */
  .view-cards .card {
    width: 50%;
  }

  .actions-view a {
    width: 100%;
    margin: 1rem;
  }

}