{% extends 'layout.html' %}

{% block content %}

<!--STYLES-->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/games.css') }}">

<h1 id="title">Fruits</h1>
<p id="score">Score: </p>


<section class="view-cards">
  <div class="card-one card">1</div>

  <div class="card-two card">2</div>

  <div class="card-three card">3</div>

  <div class="card-four card">4</div>

  <div class="card-five card">5</div>

  <div class="card-six card">6</div>

  <div class="card-seven card">7</div>

  <div class="card-eigth card">8</div>

  <div class="card-nine card">9</div>

  <div class="card-ten card">10</div>

  <div class="card-eleven card">11</div>

  <div class="card-twelve card">12</div>

  <a href="{{ url_for('game_fruits') }}">New Game</a>

</section>


<!-- VALIDATIN THE OPTION FOR SHOW DIFERENTS IMAGES -->
{% if option == '1' %}
<script src="{{ url_for('static', filename = 'js/options/fruits/option1.js') }}" type="module"></script>
{% elif option == '2' %}
<script src="{{ url_for('static', filename = 'js/options/fruits/option2.js') }}" type="module"></script>
{% elif option == '3' %}
<script src="{{ url_for('static', filename = 'js/options/fruits/option3.js') }}" type="module"></script>

{% endif %}

{% endblock %}
